body{
    margin: 0;
}
.head{
    margin: 0;
    height: 20px;
    background-color: rgb(111, 111, 7);
    width: 100%;
    padding: 1%;
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}
.menu_d{
    width: 100%;
    position: relative;
}
.menu{
    display: block;
    position: relative;
    width: 25%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 50px;
    text-align: center;
    float: left;
}
.articulo{
    -webkit-transition: 1s linear;
    transition: 1s linear;
}
.articulo:hover{
    background-color: rgb(93, 93, 94);
    color: black;
    font-size: larger;
}
.informacion{
    -webkit-transition: 1s linear;
    transition: 1s linear;
}
.informacion:hover{
    background-color: rgb(15, 107, 107);
    scale: calc(0.5);
}
.imagen{
    -webkit-transition: 1s linear;
    transition: 1s linear;
}
.imagen:hover{
    background-color: blueviolet;
    color: aqua;
}
.footer{
    -webkit-transition: 1s linear;
    transition: 1s linear;
}
.footer:hover{
    background-color: rgb(128, 74, 210);
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
    display: inline;
    text-decoration: none;
    float: left;
    margin: 1%;
    color: #fff;
}

.articuloinfo{
    font-size: large;
    color: rgb(48, 46, 46);
    background-color: rgb(117, 178, 232);
    font-family: 'Times New Roman', Times, serif;
    border: 1.5em rgb(0, 0, 0);
    border-radius: 0.5em;
    margin: 2%;
}
.info{
    font-size: x-large;
    color: rgb(52, 95, 81);
    background-color: bisque;
    margin-bottom: 1%;
}
.cuadrado{
    height: 150px;
    width: 150px;
    margin: 10px auto;
    background-color: aqua;
    align-items: center;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}
.cuadrado:hover{
    transform: translateX(-250px);
}
.img{
    -webkit-transition: 1s linear;
    transition: 1s linear;
}
.img:hover{
    transform: perspective(24deg)rotate(130deg);
}

footer{
    height: 6em;
    background-color: aqua;
    text-align: center;
    line-height: 10px;
}