body{
    margin: 0;
}
.head{
    margin: 0;
    height: 20px;
    background-color: rgb(111, 111, 7);
    width: 100%;
    padding: 1%;
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}
.menu{
    display: block;
    position: relative;
    width: 25%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 90px;
    text-align: center;
    float: left;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
    display: inline;
    text-decoration: none;
    float: left;
    margin: 0;
    color: #fff;
}

.articuloinfo{
    font-size: large;
    color: rgb(48, 46, 46);
    background-color: rgb(117, 178, 232);
    font-family: 'Times New Roman', Times, serif;
    border: 1.5em rgb(0, 0, 0);
    border-radius: 0.5em;
    margin: 2%;
}
.info{
    font-size: x-large;
    color: rgb(52, 95, 81);
    background-color: bisque;
    margin-bottom: 1%;
}



footer{
    height: 6em;
    background-color: aqua;
    text-align: center;
    line-height: 10px;
}